@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2');
    url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
    font-family: helveticaneuecyrlight, Serif, sans-serif;
    font-size: 14px;
    background-image: url("../img/background.png") ;
    min-height: 100vh;
    margin: 0 auto;
    width: 1215px;
}


.menu {
    background-color: #085393;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.menu ul {
    list-style: none;
    letter-spacing:-1px;
    margin: 0px;
    padding: 0;
}

.menu>ul>li {
    display: inline-block;
    letter-spacing: normal;
    width: auto;
    text-align: center;
}

.menu>ul>li>a {
    text-decoration: none;
    color: #60b5ed;
    display: block;
    height: 25px;
    padding: 8px 10px 0 10px;

}

.menu>ul>li>a:hover {
    color: white;
    background-color: #4eabda;

}

.menu_right:before {
    content: "";
    height: 30px;
    border-left: solid 1px #56a2dc;
    margin: 2px 0 0 10px;
}

.menu_right img {
    height: 21px;
    width: 19px;
    margin:7px 0 0 20px;
}

.menu_right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.menu_right li {
    display: inline-block;
    letter-spacing: normal;
    height: 25px;
    padding: 8px 17px 0 20px;
    width: auto;
    text-align: center;
    color: white;
}

.menu_right a {
    color: white;
}

.menu_right li:last-child {
    margin-right: 20px;
    background: -webkit-linear-gradient(top, #9f9f9f 0%,#51b1dc 3%,#3584c9 69%,#2e7ac4 91%,#2e7ac4 100%);
}

.content {
    display: flex;
    height: 100vh;
}


.main_content {
    background: rgba(0,0,0,0.6);
    width: 560px;
    height: 614px;
    margin: auto;
    display: flex;
}







