@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2');
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    font-family: helveticaneuecyrlight, Serif, sans-serif;
    font-size: 14px;
    background-image: url("../img/background.png") ;
    min-height: 100vh;
    margin: 0 auto;
    width: 1215px;
}


.menu {
    background-color: #085393;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.menu ul {
    list-style: none;
    letter-spacing:-1px;
    margin: 0px;
    padding: 0;
}

.menu>ul>li {
    display: inline-block;
    letter-spacing: normal;
    width: auto;
    text-align: center;
}

.menu>ul>li>a {
    text-decoration: none;
    color: #60b5ed;
    display: block;
    height: 25px;
    padding: 8px 10px 0 10px;

}

.menu>ul>li>a:hover {
    color: white;
    background-color: #4eabda;

}

.menu_right:before {
    content: "";
    height: 30px;
    border-left: solid 1px #56a2dc;
    margin: 2px 0 0 10px;
}

.menu_right img {
    height: 21px;
    width: 19px;
    margin:7px 0 0 20px;
}

.menu_right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.menu_right li {
    display: inline-block;
    letter-spacing: normal;
    height: 25px;
    padding: 8px 17px 0 20px;
    width: auto;
    text-align: center;
    color: white;
}

.menu_right a {
    color: white;
}

.menu_right li:last-child {
    margin-right: 20px;
    background: -webkit-linear-gradient(top, #9f9f9f 0%,#51b1dc 3%,#3584c9 69%,#2e7ac4 91%,#2e7ac4 100%);
}

.content {
    display: flex;
    height: 100vh;
}


form {
    background: rgba(0,0,0,0.6);
    width: 560px;
    height: 614px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form p:first-child {
    margin: 0;
    font-size: 24px;
    padding: 7px 219px 20px 213px ;
    border-bottom: solid 2px #afb6a4;
}

fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 255px;
}

legend {
    text-align: center;
    padding: 0 5px 0 5px;
}

form input{
    width: 277px;
}

.checkbox input {
    width: auto;
}

.button_facebook {
    background:  -webkit-linear-gradient(top, #3e5694 0%,#3b5798 3%,#3d5698 9%,#395499 19%,#395295 22%,#3a5395 28%,#334983 66%,#31467f 81%,#2b4276 97%,#304272 100%);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.button_facebook a {
    text-decoration: none;
    color: white;
    display: block;
    height: 35px;
    width: 277px;

}

.button_facebook ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button_facebook li {
    display: inline-block;
}

.logo_facebook {
    height: 35px;
    width: 38px;
    border-right: 1px solid #203a75;

}

.logo_facebook i {
    padding: 10px 0 0 15px;
}

.font_normal {
    font-weight: normal;
}

.logo_facebook_login {
    padding: 0 21px 0 33px;

}

