
.wrapper {
    font-family: Tahoma, sans-serif, Serif;
    background: linear-gradient(to bottom, rgb(18,151,184) 0%,
                rgb(18,151,183) 1%,
                rgb(18,138,167) 1%,
                rgb(18,138,167) 4%,
                rgb(94,240,255) 4%,
                rgb(17,206,225) 4%,
                rgb(24,207,226) 5%,
                rgb(45,212,229) 6%,
                rgb(79,218,233) 8%,
                rgb(186,240,247) 13%,
                rgb(218,248,250) 15%,
                rgb(241,252,253) 16%,
                rgb(255,255,255) 18%,
                rgb(64,198,211) 18%,
                rgb(56,187,205) 21%,
                rgb(20,150,179) 30%,
                rgb(17,145,177) 32%,
                rgb(15,140,173) 47%,
                rgb(12,119,161) 85%,
                rgb(12,115,159) 100%);
}

.wrapper>p {
    text-align: center;
    font: 12px Tahoma, sans-serif, Serif;
    color: white;
    margin: 0;
    padding: 10px 0 12px 0;
}


.content {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 15px 0px #000000;
}
header {
    height: 189px;
    width: 1000px;
    font: 12px Tahoma, sans-serif, Serif;
    color: #128aa7;
}

.logo {
    position: relative;
    margin: 24px 0 0 28px;
    float: left;
}

.logo p {
    position: absolute;
    top: 85px;
    left: 70px;
    z-index: 1;
}

.logo a {
    width: 283px;
    height: 165px;
    text-decoration: none;
    display: block;
    background-image: url("../img/logo.png");
    color: #128aa7;

}

.phones {
    float: right;
    padding-right: 32px;
}

.phones ul {
    margin: 0;
}

.phones h4 {
    padding: 0;
    display: block;
    margin: 25px 0 5px 40px;
}

.phones li {
    line-height: 17px;
    list-style: none;
}


.countries_flags {
    margin: 25px 25px 10px 0;
    float: right;
    font: 10px Tahoma, sans-serif, Serif;
    clear: right;
}

.countries_flags li {
    float: left;
    list-style: none;
    margin-right: 5px;
    text-align: center;
    display: block;
    width: 52px;
    height: 54px;
    line-height: 17px;
}

.countries_flags img {
    display: block;
    padding-left: 5px;
}

.countries_flags a {
    color: #128aa7;
}

.banner {
    height: 237px;
    border-bottom: solid 1px #97c9e9;
    border-top: solid 1px #97c9e9;
}

nav {
    position: relative;
    width: 1000px;
    background-color: #333333;
    box-shadow: 0 3px 7px 0 #000000;
}

nav a {
    font: 14px Tahoma, sans-serif, Serif;
    text-decoration: none;
    color: white;
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu>li {
    float: left;
    position: relative;
    display: block;
    width: 140px;
    text-align: center;
}

.menu>li>a {
    display: block;
    width: auto;
    height: 24px;
    padding-top: 4px;
}

.triangles {
    font-size: 7px;
    margin-left:3px;
}

.submenu {
    display: none;
    position: absolute;
    top: 28px;
    width: 150px;
    height: 130px;
    background-color: #333333 ;
    box-shadow: 0 0 9px 0 #000000;
}

.submenu>li {
    display: block;
    text-align: left;
    margin: 6px 0 0 10px;
}

.menu> li:hover>.submenu {
    display: block;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.main_content_left p,
.main_content_right p{
    margin: 0;
    line-height: 25px;
    font-size: 14px;
    text-align: center;

}

.main_content_left h3,
.main_content_right h3{
    margin: 0;
    text-align: center;
    padding: 10px 0 7px 0;
}

.main_content_left {
    width: 21%;
    border-right: solid 1px #c7cacf;
    background-color: #edeef0;
}


.main_content_right {
    width: 21%;
    border-left: solid 1px #c7cacf;
    background-color: #edeef0;
}

.clearfix:after {
    content		: ".";
    visibility	: hidden;
    display		: block;
    height		: 0;
    clear		: both;
}