
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper {
    background-image: url("../img/background.png");
    font-family: Tahoma, sans-serif, Serif;
}

.content {
    width: 1000px;
    height: 1023px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 15px 0px #000000;
}
header {
    height: 189px;
    width: 1000px;
    font: 12px Tahoma, sans-serif, Serif;
    color: #128aa7;
}

header>img {
    position: absolute;
    padding: 25px 0 0 30px;
}

header p {
    position: absolute;
    padding: 115px 0 0 100px;
    z-index: 1;
}

.phones {
    float: right;
    padding-right: 32px;
    margin-top: 20px;
}

.phones li {
    line-height: 17px;
    list-style: none;
}

.phones li:first-child {
    font-weight: bold;
}

.countries_flags {
    margin: 25px 25px 10px 0;
    float: right;
    font: 10px Tahoma, sans-serif, Serif;
    clear: right;
}

.countries_flags li {
    float: left;
    list-style: none;
    margin-right: 5px;
    text-align: center;
    display: block;
    width: 52px;
    height: 54px;
    line-height: 17px;
}

.countries_flags img {
    clear: right;
    display: block;
    padding-left: 5px;
}

.countries_flags a {
    color: #128aa7;
}

.banner {
    height: 237px;
    border-bottom: solid 1px #97c9e9;
    border-top: solid 1px #97c9e9;
}

nav {
    width: 1000px;
    height: 28px;
    background-color: #333333;
    box-shadow: 0 3px 7px 0 #000000;
}

nav a {
    font: 14px Tahoma, sans-serif, Serif;
    text-decoration: none;
    color: white;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing:-1px;
}

.menu>li {
    float: left;
    position: relative;
    letter-spacing:normal;
    display: block;
    width: 140px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
}

.triangles {
    font-size: 7px;
    margin-left:3px;
}

.submenu {
    display: none;
    position: absolute;
    top: 28px;
    width: 150px;
    height: 130px;
    background-color: #333333 ;
    box-shadow: 0 0 9px 0 #000000;
}

.submenu>li {
    display: block;
    text-align: left;
    margin: 6px 0 0 10px;
}

.menu> li:hover>.submenu {
    display: block;
}