
nav {
    height: 40px;
    width: 100%;
    background-color: #7f7f7f;
    display: flex;
    justify-content: center;
}



.main_menu ,
.sub_menu {
    padding: 0;
    margin: 0;

}

.sub_menu {
    display: none;
    position: absolute;
    z-index: 99999;

}

.sub_menu li {
    list-style: none;
    width: 150px;
    height: 40px;

}


.main_menu {
    position: relative;
}

.main_menu >li {
    display: inline-block;
    width: 150px;
    height: 40px;

}

.main_menu li a ,
.sub_menu li a
{
    width: 150px;
    height: 40px;
    background-color: #0d5a8f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;

}

.main_menu li a:hover ,
.sub_menu li a:hover {
    background-color: aquamarine;
    color: black;

}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 640px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}


.jcarousel__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.jcarousel-prev,
.jcarousel-next {

    width: 150px;
    height: 40px;
    background-color: #0d5a8f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;

}

.jcarousel-prev:hover,
.jcarousel-next:hover {
    background-color: aquamarine;
    color: black;
}

.button_navigation_container {
    width: 700px;
    display: flex;
    justify-content: space-around;

}
label {
    display: block;
    margin: 5px 5px 0 5px;
}








