body {
    background-color: #f5f6f3;
    height: 1024px;
    font:14px Myriad Pro, Serif, sans-serif;
}

.wrapper{
    margin: 0 auto;
    width: 830px;
}

h1 {
    text-align: center;
    font: bold 36px Arial, Serif, sans-serif;
    text-transform: uppercase;
}

img {
    display: block;
    margin: auto;
    border: 1px solid #7f7f7f;
    width: 200px;
    height: 200px;
}

p {
    padding-left: 40px;
}

h2 {
    font-size: 18px;
}

.p-arial {
    font-family: Arial, Serif, sans-serif;
    padding-left: 0px;
}

a {
    font-style: italic;
}

.bio,
.fio,
.contacts,
.social {
    border-bottom: 1px solid gray;
}



