.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.wrapper {
    background-color: #09090a;
    font-family: Tahoma, sans-serif, Serif;
    color: #e6e6e6;
}

.content {
    background-image: url("../img/background.png");
    width: 960px;
    height: 883px;
    margin: 0 auto;
    color: white;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_country {
    text-align: center;
}

.img_country a {
    display: block;
    text-decoration: none;
    color: #e6e6e6;
    font-size: 15px;
}


.img_country img {
    width: 254px;
    height: 172px;
    padding-top: 6px;
}


.ramka {
    -webkit-border-image: url("../img/ramka.png") 1 round;
    width: 265px;
    height: 184px;
}

.img_country p {
    margin: 2px 0 0 0;
}




