
@font-face {
    font-family: 'leagueGothic';
    src: url('../fonts/LeagueGothic-Regular.woff') format('woff'),
    url('../fonts/LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: leagueGothic, Serif,sans-serif;
}


@media screen and (min-width: 320px) {

    /* Header 320*/

    header {
        background: url("../img/background_480.png") center top;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-header {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-header__main_logo {
        background-image: url("../img/logo/logo.png");
        width: 152px;
        height: 39px;
        display: block;
        margin-top: 70px;
    }

    .content-header__main-menu {
        margin: 30px 0 0 145px;
        padding: 0;
        list-style: none;
    }

    .content-header__main-menu li {
        display: inline-block;
    }

    .content-header__main-menu a {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 20px;
        border-bottom: 2px solid #edbfff;
    }


    .content-header__main-menu--visibility-visible {
        visibility: visible;

    }

    .content-header__main-menu--visibility {
        visibility: hidden;
    }

    .slider-container {
        margin-top: 100px;

    }


    .slider__title {
        color: white;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        text-shadow: rgb(82, 82, 82) 0 2px 2px;
        margin: 0;
    }

    .slider__subtitle {
        color: #edbfff;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        text-shadow: rgb(82, 82, 82) 0 2px 2px;
        margin: 0;
    }

    .content-header__pagination {
        margin: 80px 0 68px 0;
        padding: 0;
        list-style: none;
    }

    .content-header__pagination li {
        display: inline-block;
    }

    .content-header__pagination a {
        display: block;
        height: 17px;
        width: 17px;
        background: rgba(0,0,0,0.3);
        border-radius: 8px;
        margin: 1px;
    }

    .content-header__pagination a:hover {
        display: block;
        height: 11px;
        width: 11px;
        border: 3px solid rgba(0,0,0,0.6);
        background: #e7e7e7;
        border-radius: 8px;
        margin: 1px;
    }

    .slider__iphones-img {
        display: none;
    }

    .slider_content {
        display: none;
    }

    /* END Header 320*/

    /* About company block 320*/
    .about_company_container {
        background: -webkit-linear-gradient(top, rgba(117,80,131,1) 0%,
                                                rgba(113,76,127,1) 11%,
                                                rgba(110,77,124,1) 12%,
                                                rgba(112,75,126,1) 13%,
                                                rgba(110,77,124,1) 13%,
                                                rgba(106,73,118,1) 22%,
                                                rgba(99,71,112,1) 29%,
                                                rgba(101,70,114,1) 29%,
                                                rgba(97,69,110,1) 31%,
                                                rgba(99,68,112,1) 31%,
                                                rgba(96,68,109,1) 32%,
                                                rgba(98,67,109,1) 34%,
                                                rgba(91,65,104,1) 39%,
                                                rgba(79,55,89,1) 57%,
                                                rgba(76,55,86,1) 57%,
                                                rgba(78,54,88,1) 58%,
                                                rgba(75,54,85,1) 58%,
                                                rgba(76,52,84,1) 60%,
                                                rgba(69,50,78,1) 66%,
                                                rgba(59,44,67,1) 83%,
                                                rgba(57,42,65,1) 83%,
                                                rgba(58,43,66,1) 84%,
                                                rgba(55,40,61,1) 89%,
                                                rgba(54,40,63,1) 90%,
                                                rgba(54,39,60,1) 91%,
                                                rgba(50,37,57,1) 100%);
        display: flex;
        justify-content: center;
        -webkit-box-shadow: 0 0 18px 0 rgba(84,84,84,1);
    }


    .about_company_container__about_company_content {
        width: 320px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .about_company_content__article {
        width: 260px;
    }

    .article__tittle {
        color: white;
        font-size: 22px;
        font-weight: normal;
        margin: 0;
    }

    .article__content {
        font-family: "Open Sans",Serif,sans-serif;
        font-size: 16px;
        color: white;
        font-weight: normal;
        height: 65px;
        width: 200px;
        overflow: hidden;
        line-height: 22px;
        margin: 0 0 20px 0;
    }

    .article__read_me {
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-weight: normal;
          margin-left: 202px;
      }

    .article__read_me:hover {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: normal;
        text-shadow: rgb(255, 255, 255) 0 0 21px;
        margin-left: 202px;
    }

    .about_company_content__article--left {
        margin-top: 70px;
    }

    .about_company_content__article--left:before {
        background: url("../img/icons/about_company_block_icon.png") -37px -4px;
        height: 27px;
        width: 27px;
        content: "";
        display: block;
        float: left;
        margin: 3px 22px 0 0;
    }

    .about_company_content__article--center {
        margin-top: 25px;
    }

    .about_company_content__article--center:before {
        background: url("../img/icons/about_company_block_icon.png") -5px -37px;
        height: 27px;
        width: 27px;
        content: "";
        display: block;
        float: left;
        margin: 3px 22px 0 0;
    }

    .about_company_content__article--right {
        margin: 25px 0 65px 0;
    }

    .about_company_content__article--right:before {
        background: url("../img/icons/about_company_block_icon.png") -2px -4px;
        height: 27px;
        width: 27px;
        content: "";
        display: block;
        float: left;
        margin: 3px 22px 0 0;
    }
    /* END About company block 320*/

    /* updates_comments 320*/

    .updates_comments_container {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
    }

    .updates_comments_container__updates_comments {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .updates_comments__comments {
        width: 260px;
        margin: 85px 0 28px 0;

    }

    .updates_comments__comments:before {
        content: "";
        background: url("../img/icons/comment_icon.png");
        width: 50px;
        height: 51px;
        display: block;
        float: left;
        margin: -7px 11px 0 0;
    }

    .comments_title {
        color: #454545;
        font-size: 24px;
        font-weight: normal;
        white-space: pre;
        margin: 0;
    }

    .comments_title--pink {
        color: #edbfff;
    }

    .comments__content {
        font-family: "Open Sans",Serif,sans-serif;
        font-size: 16px;
        color: #454545;
        font-weight: normal;
        height: 155px;
        width: 180px;
        overflow: hidden;
        line-height: 22px;
        margin: 0 0 0 61px;
    }

    .updates_comments__line_and_pagination {
        border-top: solid 1px #efefef;
        width: 250px;
        margin: 29px 0 23px 35px;
        padding-top: 23px;
        display: flex;
        justify-content: center;
    }

    .pagination--comments {
        margin: 0;
    }

    .pagination--comments a {
        border:  solid 1px #dfdfdf;
        background-color: white;
    }

    .pagination--comments a:hover {
        border:  solid 1px #dfdfdf;
        background: -webkit-linear-gradient(top, rgba(139,139,139,1) 0%,
                                                    rgba(122,122,122,1) 8%,
                                                    rgba(131,131,131,1) 17%,
                                                    rgba(101,101,101,1) 25%,
                                                    rgba(70,70,70,1) 92%,
                                                    rgba(178,178,178,1) 100%);
        height: 17px;
        width: 17px;
        -webkit-box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
    }

    .updates__title {
        font-size: 30px;
        color: #454545;
        font-weight: normal;
        margin: 0;
    }
    .updates_article__title {
        font-size: 16px;
        font-family: "Open Sans", Serif, sans-serif;
        color: #454545;
        margin: 27px 0 2px 0;
        width: 215px;
        height: 20px;
        overflow: hidden;
    }

    .updates_article__content {
        font-family: "Open Sans", Serif, sans-serif;
        font-size: 16px;
        color: #454545;
        margin: 0 0 20px 0;
        height: 20px;
        overflow: hidden;

    }
    
    .updates-article--first:before {
        background: url("../img/icons/block_icon_1.png");
        width: 49px;
        height: 49px;
        display: block;
        float: left;
        content: "";
        margin: -5px 15px 0 0;
    }

    .updates-article--second:before {
        background: url("../img/icons/bloxk_icon_2.png");
        width: 49px;
        height: 49px;
        display: block;
        float: left;
        content: "";
        margin: -5px 15px 0 0;
    }

    .updates-article--third:before {
        background: url("../img/icons/block_icon_3.png");
        width: 49px;
        height: 49px;
        display: block;
        float: left;
        content: "";
        margin: -5px 15px 0 0;
    }

    .updates_comments__read_more {
        font-size: 18px;
        text-decoration: none;
        color: #454545;
        float: right;
        margin-right: 20px;
    }


    .clearfix:after {
        content		: ".";
        visibility	: hidden;
        display		: block;
        height		: 0;
        clear		: both;
    }

    .updates_comments__line_and_pagination--full_screen_separator {
        margin: 0;
        padding: 0;
        width: 480px;
    }

    /* END updates_comments 320*/

    /* Brand logo */

    .brands_logo_container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .brands_logo_container__brands_logo {
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .brands_logo__blabong {
        background-image: url("../img/logo/blabong_logo.png");
        width: 69px;
        height: 64px;
        margin: 0 53px 60px 50px;
    }

    .brands_logo__dc {
        background-image: url("../img/logo/DC_logo.png");
        width: 72px;
        height: 64px;
        margin: 0 53px 60px 0;
    }

    .brands_logo__circa {
        background-image: url("../img/logo/cirka_logo.png");
        width: 65px;
        height: 65px;
        margin: 0 53px 60px 50px;
    }

    .brands_logo__awsm {
        background-image: url("../img/logo/awsm_logo.png");
        width: 50px;
        height: 63px;
        margin: 0 53px 60px 13px;
    }

    .brands_logo__rvca {
        background-image: url("../img/logo/rvca_logo.png");
        width: 103px;
        height: 21px;
        margin: 0 53px 60px 16px;
    }

    .brands_logo__vonzipper {
        background-image: url("../img/logo/vonzipper_logo.png");
        height: 61px;
        width: 78px;
        margin: 0 53px 60px 0;
    }

    /* END Brand logo */

    /* news */
    .news_container {
        display: none;
    }
    /*  END news */

    /* footer */
    footer {
        background-image: url("../img/background_footer_320.png");
        text-align: center;
        text-shadow: rgb(74, 74, 74) 0 1px 2px;
        padding: 42px 0 122px 0;
    }

    .footer__designed_by {
        font-size: 12px;
        font-family: 'Open Sans', Serif, sans-serif;
        color: white;
        font-weight: 100;
    }

    .designed_by_link {
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-family: 'Open Sans', Serif, sans-serif;
        font-weight: 800;
        margin-left: 3px;
    }

    .content-header__main-menu--menu_footer {
        display: none;
    }


    /* END footer */
}


@media screen and (min-width: 480px) {
    header {
        background-image: url("../img/background_768.png");
    }

    .content-header {
        width: 480px;
        position: relative;
    }

    .slider-container {
        display: flex;
        justify-content: center;
        width: 768px;
        background: rgba(0,0,0,0.3);
        margin-top: 95px;
    }

    .slider-container__slider {
        width: 480px;
        display: flex;
        justify-content: center;
    }

    .slider__slider_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    }

    .slider__iphones-img {
        display: block;
        width: 180px;
        height: 260px;
        margin-top: -10px;
    }

    .content-header__pagination {
        margin: 20px 0 60px 0;
    }


    .content-header__main-menu--visibility {
        visibility: visible;
    }

    .content-header__main-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 124px 0 0 0;
    }

    .content-header__main-menu li {
        width: 240px;
        height: 40px;
        background: rgba(45,36,50,0.8);
        box-sizing: border-box;
        text-align: center;
    }

    .content-header__main-menu li:hover {
        background: rgba(45,36,50,0.9);
        border-bottom: 2px solid #edbfff;
    }

    .content-header__main-menu li:first-child {
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        border: none;
    }

    .content-header__main-menu li:last-child{
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
    }

    .content-header__main-menu a {
        border: none;
        display: block;
        padding-top: 8px;
        height: 32px;
    }

    .content-header__main-menu li:first-child a {
        border-bottom: 2px solid #edbfff;
        width: 30px;
        margin-left: 104px;
        height: auto;
    }

    .about_company_container__about_company_content {
        width: 480px;
    }

    .about_company_content__article {
        width: 413px;
    }

    .article__content {
        width: 364px;
    }

    .article__read_me {
        margin-left: 357px;
    }

    .article__read_me:hover {
        margin-left: 357px;
    }

    .updates_comments__comments {
        width: 480px;
    }

    .updates_comments__updates {
        width: 338px;
    }

    .comments_title {
        white-space: normal;
    }

    .comments__content {
        width: 347px;
    }

    .pagination--comments {
        margin: 0;
    }

    .brands_logo_container__brands_logo {
        width: 480px;
    }
    .brands_logo__circa {
        margin-left: 0;
    }

    .brands_logo__rvca {
        margin-left: 28px;
    }

    .brands_logo__awsm {
        margin-left: 38px;
        margin-right: 30px;
    }

    .news_container {
        background: #ececec;
        display: flex;
        justify-content: center;
    }

    .news_container__news_content {
        width: 480px;
        margin: 80px 0 30px 0;
    }

    .news_content__copyright,
    .news_content__news--comments {
        display: none;
    }

    .news_content__news {
        width: 440px;
        margin-bottom: 55px;
    }

    .news__content {
        line-height: 22px;
        overflow: hidden;
        height: 91px;
        font-size: 16px;
        font-family: 'Open Sans', Serif, sans-serif;
        font-weight: 100;
        color: #787878;
        margin: 6px 0 0 0;
    }

    .news__title {
        margin: 0;
        font-size: 24px;
        color: #454545;
        font-weight: normal;

    }


    footer {
        background: url("../img/background_footer_768.png");
        padding-bottom: 64px;
    }


    .content-header__main-menu--menu_footer {
        display: inline-block;
        position: static;
        margin: 0 0 35px 0;
    }

    .content-header__main-menu--menu_footer li {
        background: none;
        width: auto;
        margin: 0 20px 0 0;
        height: auto;

    }

    .content-header__main-menu--menu_footer li:first-child a{
        border: none;
        margin: 0;
        width: auto;
    }

    .content-header__main-menu--menu_footer a {
        padding: 0;
        height: auto;

    }


    .content-header__main-menu--menu_footer li:hover {
        background: none;
        width: auto;
        border: none;

    }

}


@media screen and (min-width: 768px){
    
    header {
        background: url("../img/background_960.jpg") center top;
    }

    .content-header {
        width: 768px;
        align-items: flex-start;

    }

    .content-header__main_logo {
        margin: 70px 0 0 20px;

    }

    .content-header__main-menu {
        display: inline-block;
        position: static;
        margin: 35px 0 0 20px;
        text-shadow: rgb(74, 74, 74) 0 1px 2px;

    }

    .content-header__main-menu li {
        background: none;
        width: auto;
        margin: 0 48px 0 0;
        height: 30px;

    }

    .content-header__main-menu li:first-child a{
        border: none;
        margin: 0;
        width: auto;
    }

    .content-header__main-menu li:first-child a:hover {
        border-bottom: 2px solid #edbfff;
    }

    .content-header__main-menu a {
        padding: 0;
        height: auto;
        font-size: 24px;
    }

    .content-header__main-menu a:hover {
        border-bottom: 2px solid #edbfff;

    }

    .content-header__main-menu li:hover {
        background: none;
        width: auto;
        border: none;

    }

    .slider-container {
        width: 960px;
        margin:75px 0 150px 0;

    }

    .slider-container__slider {
        width: 698px;
        justify-content: space-between;


    }

    .slider_content {
        display: block;
        color: white;
        font-size: 16px;
        font-weight: 100;
        font-family: 'Open Sans', Serif, sans-serif;
        height: 90px;
        overflow: hidden;
        line-height: 22px;
        width: 279px;

    }

    .slider__title {
        font-size: 42px;

    }

    .slider__subtitle {
        font-size: 24px;

    }

    .slider__iphones-img {
        width: 260px;
        height: 370px;
        margin: -20px 0 50px 0;
    }

    .content-header__pagination {
        position: relative;
        bottom: 119px;
        left: 208px;
        margin: 0;
    }








    
    
    
    
    
    
    
    
    
    
    
    
    
    
}