
label {
    display: block;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container_hint {
    position: relative;
    left: 425px;
    top:70px;
}


.container_hint p {
    margin: 8px 0 0 0;


}
