
label {
    display: block;
}

.wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip,
.onMove {
    position: absolute;
    z-index: 9999;
    background-color: lightgrey;
    padding: 5px ;
    border-radius: 5px 5px 5px 5px;
    border: 0 solid #000000;
    color: #7f7f7f;


}

.input {
    width: 200px;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit {
    width: 150px;
    margin-top: 10px;
}

form {
    width: 350px;
}








