
label {
    display: block;
}

.wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    /*height: 500px;*/
    width: 500px;
}

.tooltip,
.onMove {
    position: absolute;
    z-index: 9999;
}

.input {
    width: 200px;
}





